/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/gym2.jpg') no-repeat center center/cover;
    height: 100vh;
}

/* Profile container */
.profile-container {
    background: #231608;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.profile-container h2 {
    color: #eb9423;
    margin-bottom: 20px;
}

/* Profile form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    color: #f1b534;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    background-color: #f9f9f9;
}

input:disabled {
    background-color: #eaeaea;
    color: #666;
    cursor: not-allowed;
}

/* Responsive design */
@media (max-width: 400px) {
    .profile-container {
        width: 90%;
    }
}
